.card-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: start;
  overflow-wrap: break-word;
}

.card-title>img {
  display: none;
  height: 16px;
  margin-top: 6px;
}

.card-title:hover>img {
  display: block;
}
